html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.carousel-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    cursor: grab;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease;
}

.match-item-card {
    width: 350px;
}

.carousel .match-item-card {
    flex-shrink: 0;
    margin-left: 15px;
    margin-right: 15px;
    user-select: none;
}

.team-logo {
    width: 17px;
    height: auto;
}