@model Brightgrove.Models.Matches.MatchCompetitionItem

<div class="card border-secondary mb-4">
    <div class="card-header text-success">@Model.Competition.Name</div>
    <div class="card-body border-secondary">

        <div class="carousel-container">
            <div class="carousel">

                @foreach (var match in Model.Matches)
                {
                    @await Component.InvokeAsync("MatchItem", match)
                }

            </div>
        </div>

    </div>
</div>