@page
@model IndexModel

@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row mb-4">
        <div class="col text-center">
            <button class="btn btn-sm btn-outline-success" type="button" id="btnRecentMatches">Recent Matches</button>&nbsp;
            <button class="btn btn-sm btn-success" type="button" id="btnUpcomingMatches">Upcoming Matches</button>
        </div>
    </div>
    <div class="row">
    
        <template id="match-card-template">
            <div class="match-card">
                <div class="match-body">
                    <div class="match-header"></div>
                    <div class="team">
                        <img class="team-logo" />
                        <span class="team-name"></span>
                        <span class="team-score"></span>
                    </div>
                    <div class="team">
                        <img class="team-logo" />
                        <span class="team-name"></span>
                        <span class="team-score"></span>
                    </div>
                </div>
            </div>
        </template>

        <template id="league-card-template">
            <div class="league-card">
                <div class="league-header"></div>
                <div class="league-body">
                    <div class="carousel-container">
                        <div class="carousel"></div>
                    </div>
                </div>
            </div>
        </template>

        <competition-carousel id="pnlRecentCompetitions" competitions="@JsonConvert.SerializeObject(Model.CompetitionsMatches.RecentCompetitions)" style="display:none;">
        </competition-carousel>

        <competition-carousel id="pnlUpcomingCompetitions" competitions="@JsonConvert.SerializeObject(Model.CompetitionsMatches.UpcomingCompetitions)">
        </competition-carousel>
      
    </div>
</div>